<h1>
    UserData
</h1>
<table class="table table-dark">
    <tr>
        <th>Role</th>
        <th>Name</th>
        <th>Email</th>
        <th>Date</th>
        <th colspan="2">Action</th>
    </tr>
    <!-- Get data of users from the express backend and loop through it to display data-->
    <% results.forEach((user)=>{%>
        <tr>
            <td><%- user.role %></td>
            <td><%- user.name %></td>
            <td><%- user.email %></td>
            <td><%- user.date %></td>
            <td><button onclick="deleteUser('<%- user._id %>');" class="btn btn-primary btn-block">Delete</button></td>
            <td><button class="btn btn-info btn-block">Edit</button></td>
        </tr>
        
        <% }) ;%>
</table>
<script>
    deleteUser = (id)=>{
        $.ajax({
            type: "DELETE",
            url: "/users/delete/"+id,
            success: function(response){
                window.alert('User deleted');
                window.location.href ='/dashboard-admin';
            }
        })
    }
</script>